In [1]:
import pandas as pd
df = pd.read_csv('/Users/parkjunhyeok/Desktop/codit/프로젝트/초급프로젝트/data/서울교통공사_지하철혼잡도정보_20240930.csv', encoding='cp949')
df.head()

,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,6시30분,7시00분,7시30분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,평일,1,158,청량리,상선,9.7,8.7,5.0,8.7,10.3,...,26.1,25.7,27.8,23.8,22.4,23.7,22.9,15.1,8.7,0.0
1,평일,1,158,청량리,하선,21.7,19.2,29.2,45.6,70.2,...,11.3,9.8,11.4,10.3,8.2,9.4,8.2,8.5,2.4,0.2
2,평일,1,157,제기동,상선,10.0,10.7,7.5,9.1,12.5,...,30.5,25.5,34.3,27.0,25.0,26.9,25.6,17.2,11.9,0.0
3,평일,1,157,제기동,하선,21.7,20.4,30.2,45.6,63.2,...,13.3,11.0,11.7,10.5,9.1,10.0,8.5,8.6,2.3,0.3
4,평일,1,156,신설동,상선,9.0,13.3,8.2,10.1,14.5,...,30.9,26.2,35.4,27.9,26.0,28.1,25.4,16.6,13.1,0.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일구분    1674 non-null   object
 1   호선      1674 non-null   int64
 2   역번호     1674 non-null   int64
 3   출발역     1674 non-null   object
 4   상하구분    1674 non-null   object
 5   5시30분   1648 non-null   float64
 6   6시00분   1674 non-null   float64
 7   6시30분   1674 non-null   float64
 8   7시00분   1674 non-null   float64
 9   7시30분   1674 non-null   float64
 10  8시00분   1674 non-null   float64
 11  8시30분   1674 non-null   float64
 12  9시00분   1674 non-null   float64
 13  9시30분   1674 non-null   float64
 14  10시00분  1674 non-null   float64
 15  10시30분  1674 non-null   float64
 16  11시00분  1674 non-null   float64
 17  11시30분  1674 non-null   float64
 18  12시00분  1674 non-null   float64
 19  12시30분  1674 non-null   float64
 20  13시00분  1674 non-null   float64
 21  13시30분  1674 non-null   float64
 22  14시00분  1674 non-null   float64
 23  14시30분  1674 non-null   float64
 24  15시00분  1674 non-null   float64
 25  15시30분  1674 non-null   float64
 26  16시00분  1674 non-null   float64
 27  16시30분  1674 non-null   float64
 28  17시00분  1674 non-null   float64
 29  17시30분  1674 non-null   float64
 30  18시00분  1674 non-null   float64
 31  18시30분  1674 non-null   float64
 32  19시00분  1674 non-null   float64
 33  19시30분  1674 non-null   float64
 34  20시00분  1674 non-null   float64
 35  20시30분  1674 non-null   float64
 36  21시00분  1674 non-null   float64
 37  21시30분  1674 non-null   float64
 38  22시00분  1674 non-null   float64
 39  22시30분  1674 non-null   float64
 40  23시00분  1674 non-null   float64
 41  23시30분  1664 non-null   float64
 42  00시00분  1288 non-null   float64
 43  00시30분  557 non-null    float64
dtypes: float64(39), int64(2), object(3)
memory usage: 575.6+ KB

In [3]:
df_test = df.copy()

In [4]:
# 그룹화해서 합산
df_combined = df_test.groupby(['역번호',"호선","요일구분", "출발역"]).sum().reset_index()

df_combined.head()
# 6시 30분부터 9시까지의 혼잡도 합산하여 출근시간혼잡도라는 컬럼 생성
df_combined['출근시간혼잡도'] = df_combined['6시30분']+df_combined['7시00분']+df_combined['7시30분']+df_combined['8시00분']+df_combined['8시30분']+df_combined['9시00분']
# 17시 30분부터 20시까지의 혼잡도 합산하여 퇴근시간혼잡도라는 컬럼 생성
df_combined['퇴근시간혼잡도'] = df_combined['17시30분']+df_combined['18시00분']+df_combined['18시30분']+df_combined['19시00분']+df_combined['19시30분']+df_combined['20시00분']
df_combined.head()
# 5시30분부터 00시 30분까지의 컬럼빼고 df만들기
df_combined_2 = df_combined[['역번호', '호선', '요일구분', '출발역', '출근시간혼잡도', '퇴근시간혼잡도']]

In [5]:
df_combined_2

      역번호  호선 요일구분     출발역  출근시간혼잡도  퇴근시간혼잡도
0     150   1  일요일     서울역    143.2    317.3
1     150   1  토요일     서울역    214.9    434.4
2     150   1   평일     서울역    523.4    601.1
3     151   1  일요일      시청    138.8    302.1
4     151   1  토요일      시청    201.9    421.6
..    ...  ..  ...     ...      ...      ...
841  9005   5  토요일  강동(마천)    178.3    229.2
842  9005   5   평일  강동(마천)    231.4    225.9
843  9006   6  일요일     응암S     64.7    129.4
844  9006   6  토요일     응암S     98.3    140.1
845  9006   6   평일     응암S     98.3    195.3

[846 rows x 6 columns]

In [6]:
df_combined_2.to_csv('./1-8호선_출근퇴근시간혼잡도.csv', index=False, encoding='cp949')

In [7]:
re_df = pd.read_csv('./1-8호선_출근퇴근시간혼잡도.csv', encoding='cp949')

In [8]:
re_df
#  출발역, 호선,역번호을 그룹화시켜서 요일구분에서 일요일,토요일은 합치고 휴일로 변경, 같은 역일때 출근시간혼잡도 , 퇴근시간혼잡도를 합산

      역번호  호선 요일구분     출발역  출근시간혼잡도  퇴근시간혼잡도
0     150   1  일요일     서울역    143.2    317.3
1     150   1  토요일     서울역    214.9    434.4
2     150   1   평일     서울역    523.4    601.1
3     151   1  일요일      시청    138.8    302.1
4     151   1  토요일      시청    201.9    421.6
..    ...  ..  ...     ...      ...      ...
841  9005   5  토요일  강동(마천)    178.3    229.2
842  9005   5   평일  강동(마천)    231.4    225.9
843  9006   6  일요일     응암S     64.7    129.4
844  9006   6  토요일     응암S     98.3    140.1
845  9006   6   평일     응암S     98.3    195.3

[846 rows x 6 columns]

### 일,토요일을 휴일로 합친이유는 9호선 데이터에서 휴일로 주말이나 공휴일을 통합했기때문에

In [9]:
# "일요일"과 "토요일" 데이터를 "휴일"로 합치기
re_df["요일구분"] = re_df["요일구분"].replace({"일요일": "휴일", "토요일": "휴일"})

# 같은 역번호, 호선, 요일구분, 출발역에 대해 출근시간혼잡도와 퇴근시간혼잡도를 합산
df_aggregated = (
    re_df.groupby(["역번호", "호선", "요일구분", "출발역"], as_index=False)
    .agg({"출근시간혼잡도": "sum", "퇴근시간혼잡도": "sum"})
)

In [12]:
df_aggregated.head()

   역번호  호선 요일구분  출발역  출근시간혼잡도  퇴근시간혼잡도
0  150   1   평일  서울역    523.4    601.1
1  150   1   휴일  서울역    358.1    751.7
2  151   1   평일   시청    444.4    604.8
3  151   1   휴일   시청    340.7    723.7
4  152   1   평일   종각    393.4    579.7

In [11]:
df_aggregated.to_csv('./1-8호선최종혼잡도.csv', index=False, encoding='cp949')