### 9호선 혼잡도 데이터는 여러 시트(평일,휴일,급행등)로 분리되어있어 한번에 합쳤다.

In [ ]:
import pandas as pd
file_path='/Users/parkjunhyeok/Desktop/codit/프로젝트/초급프로젝트/data/9호선 2022년 역별 시간별 혼잡도.xlsx'
sheets_dict = pd.read_excel(file_path, sheet_name=None)

In [ ]:
combined_df = pd.DataFrame()
for sheet_name, sheet_data in sheets_dict.items():
    sheet_data['시트'] = sheet_name  # 시트로 혼잡도가 나눠져있어서 시트 이름을 컬럼으로 추가
    combined_df = pd.concat([combined_df, sheet_data], ignore_index=True)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,시트
0,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,상선일반(평일)
39,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,NaN,NaN,상선일반(휴일)
78,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,하선일반(평일)
117,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,NaN,NaN,하선일반(휴일)
156,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,상선급행(평일)
173,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,NaN,NaN,상선급행(휴일)
190,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,하선급행(평일)
207,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,NaN,NaN,하선급행(휴일)

In [22]:
combined_df.to_csv('test9호선혼잡도.csv', index=False,encoding='utf-8-sig')

### 이후에 엑셀로 혼잡도데이터를 전처리했음(구분,시간대는 컬럼인데 시트마다 하나씩 들어가있어서 concat할때마다 하나의 행값이 구분과 시간대컬럼이 들어가서 삭제하고 이상치들을 제거했음)

In [ ]:
# 다시 다운받았음
c_df = pd.read_csv('./test9호선혼잡도.csv',encoding='utf-8-sig')

In [25]:
c_df['sheet_name'].unique()

array(['상선일반(평일)', '상선일반(휴일)', '하선일반(평일)', '하선일반(휴일)', '상선급행(평일)',
       '상선급행(휴일)', '하선급행(평일)', '하선급행(휴일)'], dtype=object)

In [26]:
c_df

,구분,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,09:30~09:59,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,sheet_name
0,개화,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,상선일반(평일)
1,김포공항,2.876,5.626,12.404,24.688,28.200,43.412,43.228,29.424,14.606,...,9.414,5.970,9.544,7.900,5.602,5.756,6.020,4.772,3.026,상선일반(평일)
2,공항시장,6.310,6.782,14.316,28.478,33.740,49.942,49.168,32.368,18.774,...,9.098,5.838,8.992,7.190,5.128,4.862,5.338,4.494,3.202,상선일반(평일)
3,신방화,13.174,12.276,22.710,43.974,52.732,70.460,64.340,43.578,26.896,...,10.176,6.838,9.362,8.048,6.152,4.930,6.388,4.338,3.294,상선일반(평일)
4,마곡나루,4.862,9.362,16.892,33.838,43.306,58.470,71.572,39.486,28.476,...,12.608,8.544,12.056,10.860,8.360,6.876,9.740,6.180,3.150,상선일반(평일)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,봉은사,0.000,17.895,8.445,11.415,17.350,14.615,25.875,33.005,32.460,...,60.320,50.720,50.515,42.870,23.935,11.935,0.000,NaN,NaN,하선급행(휴일)
212,종합운동장,0.000,17.665,7.675,10.845,16.655,15.080,27.890,35.045,34.470,...,57.870,39.875,41.990,32.510,19.370,8.550,0.000,NaN,NaN,하선급행(휴일)
213,석촌,0.000,17.615,8.295,10.345,16.745,15.495,26.510,39.165,32.455,...,51.775,28.290,37.155,22.765,13.465,7.090,0.000,NaN,NaN,하선급행(휴일)
214,올림픽공원,0.000,8.625,3.760,6.690,8.950,15.670,14.990,23.110,17.485,...,45.015,20.600,31.690,11.205,3.835,2.515,0.000,NaN,NaN,하선급행(휴일)
215,중앙보훈병원,0.000,2.865,2.015,2.220,4.120,8.515,5.725,8.710,6.395,...,4.480,2.565,2.790,3.485,0.465,1.125,0.000,NaN,NaN,하선급행(휴일)

In [ ]:
# 평일일반상선,하선을 평일일반으로 합치고
# 평일급행상선,하선을 평일급행으로 합치고
# 휴일일반상선,하선을 휴일일반으로 합치고
# 휴일급행상선,하선을 휴일급행으로 합쳤다.
# 이로써 평일,평일급행,휴일,휴일급행로 합쳐져있다.

# sheet_name 그룹화 정의
def classify_sheet_name(sheet_name):
    if sheet_name in ['상선일반(평일)', '하선일반(평일)']:
        return '평일 일반'
    elif sheet_name in ['상선급행(평일)', '하선급행(평일)']:
        return '평일 급행'
    elif sheet_name in ['상선일반(휴일)','하선일반(휴일)']:
        return '휴일 일반'
    else:
        return '휴일 급행'

# 새 그룹 열 추가
c_df['sheet_group'] = c_df['sheet_name'].apply(classify_sheet_name)

# 구분 및 sheet_group별 합계 계산
result = c_df.groupby(['구분', 'sheet_group']).sum().reset_index()

In [38]:
result

,구분,sheet_group,05:30~05:59,06:00~06:29,06:30~06:59,07:00~07:29,07:30~07:59,08:00~08:29,08:30~08:59,09:00~09:29,...,20:30~20:59,21:00~21:29,21:30~21:59,22:00~22:29,22:30~22:59,23:00~23:29,23:30~23:59,00:00~00:29,00:30~00:59,sheet_name
0,가양,평일 급행,30.000,42.030,101.334,139.424,186.876,205.926,179.818,148.502,...,62.260,60.882,64.030,58.290,48.582,38.600,20.660,9.138,3.930,상선급행(평일)하선급행(평일)
1,가양,평일 일반,19.268,39.230,35.828,61.148,81.778,111.628,107.932,59.852,...,24.272,24.112,27.208,25.110,21.536,17.456,15.072,13.172,7.226,상선일반(평일)하선일반(평일)
2,가양,휴일 급행,14.825,18.570,43.635,34.060,39.360,54.810,61.255,80.690,...,48.425,54.380,49.125,52.370,42.665,18.090,11.800,0.000,0.000,상선급행(휴일)하선급행(휴일)
3,가양,휴일 일반,9.975,14.820,9.660,11.890,14.395,17.785,23.930,24.650,...,21.790,23.430,21.290,27.015,23.895,30.960,17.150,0.000,0.000,상선일반(휴일)하선일반(휴일)
4,개화,평일 일반,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,상선일반(평일)하선일반(평일)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,증미,휴일 일반,10.355,17.490,15.190,14.105,18.595,23.005,28.785,32.870,...,22.085,21.755,19.620,24.420,22.470,29.980,13.950,0.000,0.000,상선일반(휴일)하선일반(휴일)
104,한성백제,평일 일반,12.264,7.310,11.676,16.338,26.382,35.472,22.448,16.088,...,8.308,9.160,8.600,9.466,6.310,6.906,4.114,3.088,5.354,상선일반(평일)하선일반(평일)
105,한성백제,휴일 일반,9.370,3.645,3.550,5.265,5.325,8.940,8.970,6.045,...,30.955,16.075,35.595,8.050,6.610,5.525,7.065,0.000,0.000,상선일반(휴일)하선일반(휴일)
106,흑석,평일 일반,42.282,61.486,69.734,112.538,169.408,223.924,148.156,128.210,...,56.708,55.216,50.670,48.302,46.500,30.160,18.680,19.850,15.040,상선일반(평일)하선일반(평일)
107,흑석,휴일 일반,17.155,31.295,19.820,23.200,27.150,38.680,48.020,60.345,...,57.985,59.190,49.600,52.555,44.080,52.845,34.810,0.000,0.000,상선일반(휴일)하선일반(휴일)

### 1-8호선 혼잡도 데이터와 통일성을 가지기 위해 출근시간대,퇴근시간대를 나눠서 합치게 됨

In [39]:
# 6시30분부터 9시까지 합치고 새로운 컬럼 추가 (오전 출근 시간대)
morning_time_cols = [
    '06:30~06:59', '07:00~07:29', '07:30~07:59',
    '08:00~08:29', '08:30~08:59'
]
result['오전출근시간대'] = result[morning_time_cols].sum(axis=1)

# 17시부터 19시30분까지 합치고 새로운 컬럼 추가 (오후 출근 시간대)
evening_time_cols = [
    '17:30~17:59', '18:00~18:29',
    '18:30~18:59', '19:00~19:29', '19:30~19:59'
]
result['오후출근시간대'] = result[evening_time_cols].sum(axis=1)

# 필요한 데이터 확인 및 저장
data = result[['구분', 'sheet_group', '오전출근시간대', '오후출근시간대', 'sheet_name']]

In [ ]:
data[data['구분']=='고속터미널']
# 컬럼이름이 sheet_group을 요일구분으로 바꿔줘
data.rename(columns={'sheet_group':'요일구분','오전출근시간대':'출근시간혼잡도','오후출근시간대':'퇴근시간혼잡도','구분':'출발역'}, inplace=True)
# sheet_name컬럼제거
data.drop(columns='sheet_name',inplace=True)

/var/folders/j6/q47by8d57xv9mxr1cgqzpp_w0000gn/T/ipykernel_64879/982295705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'sheet_group':'요일구분','오전출근시간대':'출근시간혼잡도','오후출근시간대':'퇴근시간혼잡도','구분':'출발역'}, inplace=True)
/var/folders/j6/q47by8d57xv9mxr1cgqzpp_w0000gn/T/ipykernel_64879/982295705.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns='sheet_name',inplace=True)

In [ ]:
# 호선 컬럼추가하고 9호선이기에 9로 채움
data['호선']='9'

/var/folders/j6/q47by8d57xv9mxr1cgqzpp_w0000gn/T/ipykernel_64879/2698117750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['호선']='9'

In [45]:
data

      출발역   요일구분  출근시간혼잡도  퇴근시간혼잡도 호선
0      가양  평일 급행  813.378  696.208  9
1      가양  평일 일반  398.314  341.912  9
2      가양  휴일 급행  233.120  362.450  9
3      가양  휴일 일반   77.660  148.295  9
4      개화  평일 일반    0.000    0.000  9
..    ...    ...      ...      ... ..
103    증미  휴일 일반   99.680  162.490  9
104  한성백제  평일 일반  112.316   91.854  9
105  한성백제  휴일 일반   32.050   75.765  9
106    흑석  평일 일반  723.760  880.276  9
107    흑석  휴일 일반  156.870  392.925  9

[108 rows x 5 columns]

In [46]:
data.to_csv('9호선혼잡도최종.csv', index=False,encoding='utf-8-sig')

### 이로써 1~9호선 출퇴근시간대의 혼잡도 데이터를 만들어냈다.